@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #F2F0F1;
    color: black;
}

/* Homepage hero start */
.hero {
    width: 100%;
    height: 100%;

}

.hero-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 50px;
    align-items: center;
}

.hero-1 .hero-1-h1-1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-weight: 900;
    line-height: 90px;
    padding: 20px 0;
}

.hero-1 .hero-1-p-1 {
    width: 70%;
    color: #616060;
    padding: 20px 0;
}

.hero-1 .hero-1-btn-1 {
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    color: white;
    background: #000;
    border-radius: 40px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.hero-1 .hero-1-btn-1::before {
    content: "";
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 260px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.hero-1 .hero-1-btn-1:hover::before {
    top: -80px;
}

.hero-1-btn-1:hover {
    color: #000;
}

.hero-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}


@media only screen and (max-width: 1220px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-1 .hero-1-h1-1 {
        line-height: 90%;
        font-size: 11vw;
    }

    .hero-1 .hero-1-p-1 {
        width: 100%;
        text-align: justify;
    }
}

@media only screen and (max-width: 768px) {
    .hero-container {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 670px) {
    .hero-2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-2 img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .hero-1 .hero-1-btn-1 {
        margin: 10px 0;
    }

    .hero-1 .hero-1-h1-1 {
        padding: 10px 0;
    }

    .hero-1 .hero-1-p-1 {
        padding: 10px 0;
    }

    .hero-container {
        margin: 0 10px;
    }
}

/* Homepage hero end */


/* Homepage brands start */
.brands {
    background: #000;
    width: 100%;
    height: 100%;
    /* padding: 30px 40px; */
}

.brands-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.brands-container img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

@media (max-width: 768px) {
    .brands-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 15px;
    }
}

/* Mobile View */
@media (max-width: 480px) {
    .brands-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px;
    }
}

/* Homepage brands end */

/*Category  start*/
.category {
    text-align: center;
    padding: 40px 20px;
  }
  
  
  
  /* Responsive */
  /* @media (max-width: 768px) {
    .product-card {
      padding: 15px;
    }
    .product-title {
      font-size: 14px;
    }
    .product-price {
      font-size: 16px;
    }
  } */
/*Category  end*/